#home-header {
    height: 500px;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('patrick-tomasso-Oaqk7qqNh_c-unsplash.jpg');
    background-size: cover;
}

.container {
    margin-top: 20px;
}
